.dorm {
  padding-left: 4rem;
  overflow: hidden;
  font-family: monospace;
  color: white;
  background-color: #171616;
  height: 90vh;
}

.dorm-selector {
  padding-left: 3rem;
}

.dorm-selector.hovered,
.dorm-selector:hover {
  cursor: pointer;
}
.dorm-selector.hovered::before,
.dorm-selector:hover::before {
  display: inline;
  content: ">> ";
}

.dorm-selector.no-action:hover::before,
.dorm-selector.no-hover:hover::before {
  display: inline;
  content: "";
}

.dorm-selector.no-action {
  color: #8f8e8e;
}

.loader {
  display: inline-block;
  margin-left: 10px;
  animation: jumpSquare 1s steps(4) infinite; /* 4 jumps */
}

@keyframes jumpSquare {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(5px); }
  50%  { transform: translateX(10px); }
  75%  { transform: translateX(15px); }
}
