@if (!game.dorm.modemWorking) {
  <div class="page-no-wifi">
    <h2>No internet</h2>
    <p>Try:</p>
    <ul>
      <li>Check your dorm...</li>
      <li>Lock your windows...</li>
      <li>Fix your modem...</li>
    </ul>
  </div>
} @else {
  @if (pageContent){
    <header>
      <h2 style="color: {{pageContent?.color}}">{{ pageContent?.websiteName }}</h2>
      <div
        style="display: flex; flex: 1; gap: 0.4rem; align-items: center; border-radius: 100rem; background-color:#eee;; padding: 0.4rem 0.8rem;">
        <span class="material-symbols-rounded" style="font-size: 1.1rem; color: oklch(55.6% 0 0);">search</span>
        <input type="text" placeholder="Search any topic">
      </div>
      <button style="color: white; background-color: {{pageContent?.color}}">Login</button>
    </header>
    <div style="display: flex">
      <nav>
        <p style="background-color: #eee; border-radius: 0.4rem;">Home</p>
        <p>Popular</p>
        <p>Communities</p>
        <p>Discover</p>
        <h5 style="margin-top: 2rem;">Trending Threads</h5>
        @for (trending of pageContent?.trendingCategories; track trending) {
          <p>{{ trending }}</p>
        }
      </nav>
      <section style="display: flex; flex-direction: column; gap: 2rem; padding: 2rem 0;">
        @for (thread of pageContent?.threads; track thread) {
          <div style="display: flex; flex-direction: column; gap: 0.4rem;">
            <div style="display: flex; align-items: center; gap: 0.4rem">
              <h3>{{ thread.title }}</h3>
              <p
                style="font-size: 0.8rem; padding: 0.2rem 0.4rem; border-radius: 100rem; background-color: {{pageContent?.color}}33; color: {{pageContent?.color}}">{{ thread.category }}</p>
            </div>
            <p style="font-size: 0.8rem">{{ thread.description }}</p>
            <img style="border-radius: 1rem; max-width: 48rem;" src="https://picsum.photos/seed/{{thread.title}}/800/480"
                 alt="">
            <div style="display: flex; gap: 0.4rem;">
              <div
                style="display: flex; gap: 0.4rem; align-items: center; padding: 0.2rem 0.4rem; background-color: #eee; border-radius: 100rem;">
                <span class="material-symbols-rounded" style="font-size: 1rem;">arrow_upward</span>
                <p style="font-size: 0.8rem;">{{ thread.upvotes }}</p>
                <span class="material-symbols-rounded" style="font-size: 1rem;">arrow_downward</span>
              </div>
              <div
                style="display: flex; gap: 0.4rem; align-items: center; padding: 0.2rem 0.4rem; background-color: #eee; border-radius: 100rem;">
                <span class="material-symbols-rounded" style="font-size: 1rem;">chat_bubble</span>
                <p style="font-size: 0.8rem;">{{ thread.comments }}</p>
              </div>
            </div>
          </div>
        }
      </section>
    </div>
    <footer>
      <p>{{ pageContent?.websiteName }} 2025, all rights reserved</p>
    </footer>
  }@else {
    <div class="loading-state">
      <div class="spinner"></div>
      <p>Loading content...</p>
    </div>
  }

}
