header {
  display: flex;
  gap: 10rem;
  padding: 0.8rem 2rem;
  border-bottom: 1px solid #eee;
}

header input {
  flex: 1;
  border: none;
  outline: none;
  background: #eee;
}

header button {
  padding: 0.6rem 1.4rem;
  border-radius: 100rem;
  border: none;
  outline: none;
}

h2, h5, h4, h3, p {
  margin: 0;
}

nav {
  padding: 1.2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.6rem;
}

nav p {
  padding: 0.4rem 0.6rem;
  font-size: 0.8rem;
  min-width: 10rem;
  max-width: 10rem;
}

section {
  flex: 1;
}

footer {
  padding: 4rem 8rem;
  background-color: #222;
  color: #555;
  font-size: 0.8rem;
  text-align: center;
}
