.page-no-wifi {
  margin-top: 10rem;
  margin-left: 12rem;
  padding-bottom: 2rem;
}

.page-info {
  max-width: 40rem;
  margin-left: 12rem;
  padding-bottom: 2rem;

  img {
    width: 25px;
    height: 25px;
    margin-right: 0.6rem;
    border-radius: 50%;
  }

  .page-header {
    display: flex;
    align-items: center;
  }

  p {
    margin: 0;
  }

  .page-header-domain {
    font-size: 0.8rem;
    margin-bottom: 0.1rem;
  }

  .page-header-url {
    font-size: 0.7rem;
    color: #605e5c;
  }

  .page-title {
    font-size: 1.2rem;
    color: #1a0dab;
    margin: 0.6rem 0;
  }

  .page-description {
    font-size: 0.8rem;
  }
}
