header {
  display: flex;
  gap: 1rem;
  padding: 0 6rem;
}

header h3 {
  font-family: "Times New Roman", Times, serif;
}

header div {
  align-items: center;
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
}

p {
  margin: 0;
}
