header {
  display: flex;
  gap: 8rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
}

header input {
  flex: 1;
  outline: none;
  border: none;
}

p {
  margin: 0;
}

h2, h4 {
  margin: 0;
}

nav {
  padding: 0.4rem 16rem;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  font-size: 0.8rem;
}

section {
  margin: 2rem 4rem;
  position: relative;
}

section img {
  border-radius: 2rem;
}

section button {
  border: none;
  background-color: white;
  align-self: flex-start;
  padding: 0.6rem 1rem;
  border-radius: 1rem;
}

footer {
  background-color: #101010;
  color: #707070;
  font-size: 0.8rem;
  padding: 4rem;
}
