header {
  display: flex;
  gap: 8rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
}

header input {
  flex: 1;
  outline: none;
  border: none;
}

p {
  margin: 0;
}

h2, h4 {
  margin: 0;
}

nav {
  padding: 0.4rem 16rem;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  font-size: 0.8rem;
}

section {
  margin: 1rem 4rem;
  position: relative;
}
