@if (!game.dorm.modemWorking) {
  <div class="page-no-wifi">
    <h2>No internet</h2>
    <p>Try:</p>
    <ul>
      <li>Check your dorm...</li>
      <li>Lock your windows...</li>
      <li>Fix your modem...</li>
    </ul>
  </div>
} @else {
  @if (pageContent){
    @for (ad of advertisements; track ad) {
      <app-advertisement [imageSrc]="ad.imageSrc" [side]="ad.side" [offsets]="ad.offsets" (close)="removeAd(ad.id)"></app-advertisement>
    }

    <header>
      <h2>{{ pageContent.websiteName }}</h2>
      <div
        style="display: flex; flex: 1; gap: 0.4rem; align-items: center; border-radius: 100rem; border: 1px solid oklch(90% 0 0); padding: 0.4rem 0.8rem;">
        <span class="material-symbols-rounded" style="font-size: 1.1rem; color: oklch(55.6% 0 0);">search</span>
        <input type="text" placeholder="Search for a product or a brand...">
      </div>
      <div style="display: flex; gap: 1rem;">
        <span class="material-symbols-rounded" style="font-size: 1.1rem;">favorite</span>
        <span class="material-symbols-rounded" style="font-size: 1.1rem;">shopping_cart</span>
      </div>
    </header>
    <nav>
      @for (page of pageContent.subPages; track page) {
        <p>{{ page.toUpperCase() }}</p>
      }
    </nav>
    <section>
      <img style="width: 100%; background-image:linear-gradient(#1e40af,#101010) "
           src="{{image}}">
      <div
        style="display: flex; flex-direction: column; justify-content: center; height: 100%; max-width: 33%; gap: 1rem; position: absolute; left: 4rem; top: 0; text-shadow: 0 0 2rem black; color: white;">
        <h4>{{ pageContent.promotionProduct }}</h4>
        <h2>{{ pageContent.promotionCatch }}</h2>
        <p>{{ pageContent.promotionDescription }}</p>
        <button>Shop Now</button>
      </div>
    </section>
    <section style="display: flex; gap: 2rem; justify-content: center">
      @for (category of pageContent.categories; track category) {
        <div
          style="display: flex; flex-direction: column; align-items: center; gap: 0.8rem; min-width: 6rem; max-width: 6rem;">
          <div style="height: 4rem; width: 4rem">
            <img style="height: 100%; width: 100%; object-fit: cover; border-radius: 1rem;" src="{{categoryImages[category]}}" alt="">
          </div>
          <div style="display: flex; flex-direction: column; gap: 0.2rem; text-align: center">
            <h4>{{ category }}</h4>
            <p style="color: #605e5c; font-size: 0.8rem">{{categoryAmounts[category]}} items</p>
          </div>
        </div>
      }
    </section>
    <section style="display: flex; flex-direction: column; gap: 1rem">
      <h3>Popular products</h3>
      <div style="display: flex; flex-wrap: wrap; gap: 2rem; justify-content: center">
        @for (product of pageContent.products; track product) {
          <div style="display: flex; flex-direction: column; gap: 0.4rem; min-width: 10rem; max-width: 10rem;">
            <div style="height: 10rem; width: 10rem">
              <img style="height: 100%; width: 100%; object-fit: cover; border-radius: 1rem;" src="{{productImages[product.name]}}" alt="">
            </div>
            <p>{{ product.name }}</p>
            <p style="font-size: 0.8rem; color: #605e5c">{{ product.rating }} | {{ product.category }}</p>
            <p>${{ product.price.toLocaleString('en-US') }}</p>
            <button style="align-self: flex-start; background-color: black; color: white">Order Now</button>
          </div>
        }
      </div>
    </section>
    <footer>
      <p>{{ pageContent.websiteName }} 2025, all rights reserved</p>
    </footer>
  } @else {
    <div class="loading-state">
      <div class="spinner"></div>
      <p>Loading content...</p>
    </div>
  }



}
